<!DOCTYPE html>
    <nav id="container0">
        <ul class="item2"> <img id="logo" src="/img/logo.jpeg" width="150px"> </ul>
        <ul class="item2"> Perro </ul>
        <ul class="item2"> Gato </ul>
        <ul class="item2"> Promociones </ul>
        <ul class="item2"> Sucursales </ul>
        <ul class="item2"> Envios </ul>
        <ul class="item2"> Contacto </ul>
        <ul class="item2"> <input class="buscador" type="text" placeholder="Buscar">  </input> </ul>
        <ul class="item2"> <a href="/users/login"> <button class="botoncito"> Mi cuenta </button> </ul> </a>
        <ul class="item2"> <a href="/carrito"><button class="botoncito"> Mi carrito </button> </a></ul>
        <ul class="item2"> <a href="/products/create"><button class="botoncito"> Cargar Producto </button> </a></ul>
        <ul class="item2"> <a href="/products/"><button class="botoncito"> Todos los Productos </button> </a></ul>
    </nav>
    <hr class="linea">
